<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the puppy survey!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <br>
        {{ form.breed.label }}{{ form.breed }}
        <br>
        {{ form.neutered.label }}{{ form.neutered }}
        <br>
        {{ form.food_choice.label }}{{ form.food_choice }}
        <br>
        {{ form.mood.label }}{{ form.mood }}
        <br>
        {{ form.feedback }}
        <br>
        {{ form.submit() }}

    </form>
</body>
</html>